table {
    font-size: xx-large;
    background-color: white;
    padding: 1em;
    margin-left: 10vw;
    text-align: center;
}

caption{
    margin-bottom: 1em;
}
td {
    border: 1px solid #313131;
    padding: 1em;
    background-color: white;
}

th {
    border: 1px solid white;
    background-color: white;
}