* {
    margin: 0px;
    background-color: #f5f5f7;
    font-family: monospace;
}

header {
    height: 10vh;
    background-image: url("../img/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-color: #313132;
}

nav {
    background-color: rgb(37, 37, 37);
    border-top: 1px solid white;
    text-align: center;
    font-size: large;
    padding: 1em;
}

ul {
    background-color: transparent;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 3em;
}

nav a {
    text-decoration: none;
    color: rgb(199, 199, 199);
    background-color: rgb(37, 37, 37);
}

nav a:hover {
    color: white;
}

main {
    background-color: #f5f5f7;
    padding: 1em;
}

a {
    background-color: transparent;
    color: black;
}

a:hover {
    color: blue;
}

footer {
    border-top: 1px solid rgb(37, 37, 37);
    text-align: center;
    font-size: large;
    padding: 1em;
    margin: 0em 1em 0em 1em;
}

footer p {
    margin-bottom: 1em;
}