main {
    text-align: center;
    font-size: large;
}

section {
    border: 1px solid white;
    margin: 1em;
    padding: 1em;
}

h3{
    margin-bottom: 1em;
}

iframe{
    width: 99%;
    height: 40vh;
}