main {
    text-align: center;
    font-size: x-large;
}

section {
    background-color: white;
    margin: 1em;
    padding: 1em;
}

h3{
    margin-bottom: 1em;
    background-color: white;
}

iframe{
    width: 99%;
    height: 40vh;
}