section{
    text-align: center;
    background-color: white;
    padding: 1em;
    margin: 1em;
}

section img{
    height: 60vh;
    width: 20vw;
}
h2{
    margin-bottom: 1em;
    background-color: transparent;
}