section{
    background-color: white;
    margin: 1em;
    height: 18vh;
    padding: 1em;
}

h2{
    text-align: center;
    background-color: transparent;
}

main p{
    margin: 1em;
    background-color: transparent;
    font-size: large;
}