#imgAutor{
    float: left;
    text-align: center;
    margin: 1vw;
    border: 1px solid white;
    height: 56vh;
}

#imgAutor img{
    height: 85%;
    margin: 1em;
}

aside{
    border: 1px solid white;
    height: 56vh;
    margin: 1vw;
    text-align: center;
}

.noticias{
    float: left;
    text-align: center;
    margin: 1em;
    padding: 1em;
    border: 1px solid white;
    height: 80%;
    margin: 0em 6em 0em 6em;  
}

.noticias img{
    height: 90%;
}

h2{
    margin: 1em;
}

aside p{
    margin-bottom: 1em;
    font-size: x-large;
}
aside a{
    text-decoration: underline;
}