#imgAutor {
    float: left;
    text-align: center;
    height: 70vh;
}

#imgAutor img {
    height: 95%;
    margin: 1em;
}

h3 {
    background-color: white;
}

aside {
    width: 80%;
    height: 70vh;
    margin-left: 25%;
    padding: 0em 1em 1em 1em;
    text-align: center;
}

aside h2 {
    margin-bottom: 1em;
}

aside :nth-child(3) {
    width: 50%;
}

.noticias {
    background-color: white;
    float: left;
    text-align: center;
    margin-left: 1em;
    padding: 1em;
    width: 35%;
    height: 90%;
}

.noticias img {
    height: 32vh;
    width: auto;
}

aside p {
    background-color: white;
    margin: 1em;
}